{% extends "base.html"}

<div class="container">
  <div class="col-lg-8">
    <h1>ShibAdopt</h1>
    <form action="" method="GET">
      {% csrf_token %}``
        <input name="number" />
        <button>Adopt and remove</button>
    </form>
  </div>
  <div class="col-lg-8">
    <h2>Shibas up for adoption:</h2>
    {% for shiba in all_shibas %}
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{{ shiba.image_src }}" />
            </div>
            <div class="col">
                <h3>Shiba name: {{ shiba.name }}</h3>
                <h4>Shiba age: {{ shiba.age }}</h4>
                <p>Wow, such shiba, much bork!</p>
            </div>
        </div>
    {% endfor %}
  </div>

</div>

</body>
</html>
