<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Shiba Adoption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h1>ShibAdopt</h1>
    <p>Add shiba</p>

    <form action="" method="GET">
        <p>Name: <input name="name" /></p>
        <p>Number: <input name="age" type="number" /></p>
        <button>Add dog</button>
    </form>
</div>

</body>
</html>
