{% extends "base.html" %}

{% block title %}Faceboop Home{% endblock %}
{% block nav_home_class %}active{% endblock %}

{% block content %}
<h2>Welcome to The Faceboop</h2>
<br />
<br />

<div class="row">
    {% for user in users %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="{{ user.image }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ user.name }}</h3>
                    <p class="card-text"></p>

                    <ul class="list-group">
                        <li class="list-group-item list"><strong>Username</strong> {{ user.username }}</li>
                        <li class="list-group-item list"><strong>Email</strong> {{ user.email }}</li>
                        <li class="list-group-item list"><strong>Joined</strong> {{ user.date_joined }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
